<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CodeMapper">

    <select id="selectAll" resultType="CodeDto">
        SELECT CODE_SEQ
             , "CODE_ID"
             , CODE_DC
             , CODE_VALUE
             , CODE_NM
             , SORT_ORD
             , USE_YN
        FROM ws_code
       ORDER BY CODE_DC, SORT_ORD
    </select>

    <insert id="insertCode" parameterType="CodeDto">
        insert into ws_code
            (CODE_ID
            , CODE_DC
            , CODE_VALUE
            , CODE_NM
            , SORT_ORD
            , USE_YN)
        values ( #{codeId}
               , #{codeDc}
               , #{codeValue}
               , #{codeNm}
               , #{sortOrd}
               , #{useYn})

    </insert>

    <select id="selectCodeDc" resultType="CodeDto" parameterType="String">
        SELECT DISTINCT CODE_NM, CODE_VALUE
        FROM ws_code
        WHERE CODE_ID = #{codeId}
    </select>

    <delete id="deleteCode" parameterType="String">
        DELETE FROM ws_code
        WHERE CODE_SEQ = #{codeSeq}
    </delete>

    <update id="updateCode" parameterType="CodeDto">
        UPDATE ws_code
           SET CODE_ID = #{codeId}
           , CODE_DC = #{codeDc}
           , CODE_NM = #{codeNm}
           , CODE_VALUE = #{codeValue}
           , SORT_ORD = #{sortOrd}
           , USE_YN = #{useYn}
        WHERE CODE_SEQ = #{codeSeq}
    </update>
</mapper>