<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CodeMapper">

    <select id="selectAll" resultType="CodeDto">
        SELECT "CODE_ID", CODE_DC, CODE_VALUE, CODE_NM, SORT_ORD, USE_YN
        FROM code
    </select>

    <insert id="insertCode" parameterType="CodeDto">
        insert into code
            (CODE_ID
            , CODE_DC
            , CODE_VALUE
            , CODE_NM
            , SORT_ORD
            , USE_YN)
        values ( #{codeId}
               , #{codeDc}
               , #{codeValue}
               , #{codeNm}
               , #{sortOrd}
               , #{useYn})

    </insert>

    <select id="selectCodeDc" resultType="String" parameterType="String">
        SELECT DISTINCT CODE_DC
        FROM code
        WHERE CODE_ID = #{code}
    </select>
</mapper>